@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header_wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 20px;
  height: 10vh;
}

.nav_list {
  display: flex;
  margin-right: 83px;
}

.nav {
  display: flex;
	align-items: center;
}

.nav_list > li {
  margin-right: 28px;
  list-style-type:none;
}

/* .logo {
} */

.links {
  margin-left: 379px;
}

.links img {
  margin-right: 20px;
}

.main-page {
  height: 90vh;
  background-color: #F0EFEB;
}

.guides {
  height: 100vh;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 60px;
  max-width: 534px;
  margin-bottom: 42px;
  padding-top: 90px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  max-width: 481px;
  margin-bottom: 26px;

}

.button {
  display: inline-block;
  background-color: #000000;
  width: 129px;
  height: 36px;
  border-radius: 30px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  border:none;
  cursor: pointer; 
}

.main-content-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-right: 59px;
}

.main-image {
  display: inline-block;
}

.main-page .container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  width: 1280px;
}

.header_wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  width: 1280px;
}

